
.header{
	border:1px solid;
	width: 300px;
	margin:139px;
	margin-left:447px;
                    padding:50px;
	border-radius:20px;
	background-color:#fff;
	font-size:20;
               }
.login{
margin:10px;
ackground-color:gray;
pandling:5px;
            }
.k{
	border:1px solid ;
	font-size:20px;
	padding: 0px;
	height:40px;
	width:60%;
	background-color:green;
}
	